html {
    box-sizing: border-box;
}

main {
    padding: 16px;
}
body {
    margin: 0;
    padding: 0;
}
footer {
    position: static;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}
img {
    height: 200px;
}
nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
